@media screen and (max-width: 768px) {
    #welcome {
        h1 {
            font-size: 32px;
        }
        
        .web {
            font-size: 22px;
        }
    }

    .project {
        width: 40%;
    }
    .contacts_contact__title {
        font-size: 36px;

        &__descript{
            font-size: 16px;

        }
    }
    .contacts .contacts_links__link___li {
        font-size: 22px;
    }
}
@media screen and (max-width: 420px) {
    .navbar {
        font-size: 20px;
   
        .navbar_list {
            display: flex;
            justify-content: center;
        }
    }
    #welcome {
        h1 {
            font-size: 28px;
        }
        
        .web {
            font-size: 18px;
        }
    }

    #works .works_list__title {
        font-size: 24px;
    }
    
    #works .works_list .projects .project {
        width: 50%;

        &__title{ 
            font-size: 12px;
        }
    }
    #works .works_list .button .btn {
        margin: 30px auto;
        font-size: 14px;
    }   

    .contacts_contact__title {
        font-size: 32px;

        &__descript{
            font-size: 16px;

        }
    }

    .contacts .contacts_links__link {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        
    .contacts .contacts_links__link___li {
            color: rgb(229, 231, 233);
            font-size: 22px;
            text-decoration: none; 
        }
    }
    .contacts .list_style {
        margin: 15px 5px; 
    }
    .instruction {
        padding: 10px 5px 20px 10px;
    }
}
